extends layout

block content
  h1 #{title}

  div
       <img src="https://dl.dropboxusercontent.com/u/18958141/flappy.jpg" alt="flappy bird" />
      div A really fappy, satisfied customer of flappy bird.




